.sevices {
    text-align: center;
    padding: 60px 0;
}
.services__title {
    color: #101010;
    font-size: 48px;
    line-height: 65px;
    font-weight: 900;
    letter-spacing: -2px;
}
.services__subtitle {
    color: #101010;
    font-size: 24px;
    line-height: 37px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    img {
        rotate: 180deg;
    }
}
.services__tabs {
}
.nav {
    border: none;
}
.nav-tabs {
}
.nav-item {
    width: 16.66%;
    border: 1px solid #dedede;
    border-radius: 0;
    .nav-link.active {
        border-radius: 0;
    }
    // background-color: #597adb !important;
    // border-color: #597adb !important;
}
.nav-item:nth-child(1) {
    border-top-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    .nav-link.active {
        border-top-right-radius: 0px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
}
.nav-item:nth-child(6) {
    border-top-right-radius: 0px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    .nav-link.active {
        border-top-right-radius: 0px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
    }
}
.nav-item:nth-child(1),
.nav-item:nth-child(2),
.nav-item:nth-child(3),
.nav-item:nth-child(4),
.nav-item:nth-child(5) {
    border-right: none;
}
.nav-link {
    width: 100%;
    height: 100%;
    border: none;
    padding: 18px 22px;
    background-color: transparent;
    line-height: 1.35;
    font-size: 14px;
    color: #000000;
    font-weight: 400;
}
.nav-link:hover {
    border: none;
}
.nav-link.active {
    color: #ffffff !important;
    font-weight: 600 !important;
    background-color: #597adb !important;
    border-color: #597adb !important;
}
.tab-content {
}
.tab-pane {
}
.fade {
}
.show {
}
.services__tab--items {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.services__tab--item {
    border-radius: 30px 30px 30px 30px;
    background-color: #f7f6f8;
    max-width: 560px;
    padding: 20px 30px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 5px;
}
#first-tab-pane {
    .services__tab--item:nth-child(2) {
        .services__tab--item--line:last-child {
            .services__tab--text {
                visibility: hidden;
            }
        }
    }
}
.services__tab--item--line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
}
.services__tab--text {
    color: #00183d;
    font-size: 16px;
    line-height: 35px;
    font-weight: 500;
}
.services__tab--price {
    color: #6085f4;
    font-size: 16px;
    line-height: 35px;
    font-weight: 500;
}
@media screen and (max-width: 960px) {
    .nav {
        max-width: 640px;
        margin: 0 auto;
        height: 60px;
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
    }
    .nav-link {
        padding: 0;
        white-space: nowrap;
    }
    .nav-tabs {
        flex-wrap: nowrap;
    }
    .nav-item {
        flex-shrink: 0;
        width: 20.66%;
    }
    .services__tab--items {
        flex-direction: column;
    }
}
@media screen and (max-width: 650px) {
    .nav-item {
        width: 25.66%;
    }
    .services__title {
        font-size: 27px;
        letter-spacing: -1px;
        line-height: 36px;
    }
    .services__subtitle {
        font-size: 18px;
        line-height: 23px;
        max-width: 200px;
        margin: 0 auto;
        flex-direction: row-reverse;
    }
    .services__tab--item {
        max-width: 457px;
        height: 200px;
    }
    .services__tab--text,
    .services__tab--price {
        font-size: 14px;
        line-height: 35px;
    }
}
@media screen and (max-width: 480px) {
    .nav-item {
        width: 36.66%;
    }
    .services__tab--item {
        width: 320px;
        height: 165px;
    }
    .services__tab--text,
    .services__tab--price {
        font-size: 12px;
        line-height: 30px;
    }
}
