.workers {
    padding: 40px 0;
}

.workers__title {
    color: #101010;
    font-size: 48px;
    line-height: 53px;
    font-weight: 900;
    text-align: center;
    letter-spacing: -2px;
    padding-bottom: 20px;
}
.rows {
}
.col-lg-3 {
}
.workers__item {
    border-radius: 30px;
    background-color: #f7f6f8;
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    width: 100%;
}
.workers__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.workers__name {
    color: #101010;
    font-size: 20px;
    line-height: 31px;
    font-weight: 700;
}
.workers__education {
    color: #6085f4;
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}
.workers__exp {
    color: #101010;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}
@media screen and (max-width: 1200px) {
    .workers__title {
        font-size: 42px;
        line-height: 46px;
    }
}
@media screen and (max-width: 960px) {
    .col-sm-6 {
        display: flex;
        align-items: flex-end;
    }
    .workers__title {
        font-size: 36px;
        line-height: 40px;
    }
}
@media screen and (max-width: 640px) {
    .workers__title {
        font-size: 27px;
        letter-spacing: -1px;
        line-height: 30px;
    }
}
